#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

.avatar {
  max-height: 40px;
  width: auto;
}

.url {
  font-size: 12px;
}

.username {
  font-size: 30px;
}